.page-inner .media-float {
    width: 30%; 
    max-width: 400px; 
    float: right; 
    border: 1px solid rgba(0,0,0,0.05); 
    padding: 5px; 
    border-radius:5px; 
    margin: 5px;
}

.page-inner .media-band-300 {
    width:100%;
    height:300px;
    object-fit:cover;
    object-position: center center;
}

.page-inner .media-band-300.bottom {
    object-position: center bottom;
}

.page-inner .media-band-300.top {
    object-position: center top;
}

.page-inner h2 {
    clear:both;
}