.markdown-section {
    margin-bottom: 3em;
}

.markdown-section blockquote {
    margin-bottom: 1.5em;
}

.markdown-section blockquote.block-intro {
    background-color: #fcfcfc;
    font-family: var(--font-family);
    font-weight: bold;
}
.markdown-section .embed-wrap {
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}


.markdown-section .media-float {
    width: 30%; 
    max-width: 400px; 
    float: right; 
    border: 1px solid rgba(0,0,0,0.05); 
    padding: 5px; 
    border-radius:5px; 
    margin: 5px;
}

.markdown-section .media-band-300 {
    width:100%;
    height:300px;
    object-fit:cover;
    object-position: center center;
}

.markdown-section .media-band-300.bottom {
    object-position: center bottom;
}

.markdown-section .media-band-300.top {
    object-position: center top;
}

.markdown-section h2 {
    clear:both;
}